<li>
  <span class="tubuyaki"><%= tweet.tubuyaki %></span><br>
  <span class="timestamp">
    <small>Tweeted <%= time_ago_in_words(feed_item.created_at) %> ago.</small>
  </span>
  <% if current_user?(tweet.user) %>
    <%= link_to "消す", tweet, method: :delete, data: { confirm: "本当に消しますか？"}, title: tweet.content %>
  <% end %>
</li>
