<header class="jumbotron">
  <div class="container">
    <h1>Mojitter</h1>
      <p>
        Welcome to mojitter, you can find another world here!
      </p>
      <p><%= link_to 'Sign up now!!', signup_path %></p>
  </div>
</header>
